<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="messagePrinter" class="org.hzw.MessagePrinter">
    <constructor-arg ref="messageServiceImpl"/>
  </bean>

  <bean id="messageServiceImpl" class="org.hzw.MessageServiceImpl"/>
</beans>
